.input-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
}

.input-field {
  margin-right: 10px; 
}
.project-title {
  text-align: center;
}
.task-container {
  display: flex;
  justify-content: center;
}

.task-list-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
}
